numpy
netcdf4
xarray
pandas
matplotlib
altair
streamlit==1.43.2
millify
fair
streamlit-extras==0.4.3
gspread
pycryptodome
# agrifoodpy
git+https://github.com/FixOurFood/agrifoodpy.git
git+https://github.com/FixOurFood/agrifoodpy-data.git
git+https://github.com/FixOurFood/future_food.git
